<% layout("/layouts/boilerplate") %>
<h3>Create New Listing</h3>
<div class="row">
  <div class="col-8 offset-2">

    <form action="/listings" method="POST" novalidate class="needs-validation">
      <br><br>
      <div class="mb-3">
        <label for="title" class="form-label" class="needs-validation">Title</label>
        <input
          name="listing[title]"
          type="text"
          placeholder="Enter Title"
          class="form-control"

          required
        />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please Enter Title</div>
        <br />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label" class="needs-validation">Description</label>
        <input
          name="listing[description]"
          placeholder="Enter Description"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please Enter Description</div>
        <br />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label" class="needs-validation">Image Link</label>
        <input
          name="listing[image]"
          type="text"
          placeholder="Enter image URL/Link"
          class="form-control"

        /><br />
      </div>
      <div class="row">
      <div class="mb-3 col-md-3">
        <label for="price" class="form-label" class="needs-validation" >Price</label>
        <input
          name="listing[price]"
          type="text"
          placeholder="1200"
          class="form-control"
          required
        />
        <div class="invalid-feedback">please enter valid price !</div>
        <br />
      </div>
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label" class="needs-validation" >Country</label>
        <input
          name="listing[country]"
          type="text"
          placeholder="India"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Country should be valid !</div><br />
      </div>
    </div>
      <div class="mb-3">
        <label for="location" class="form-label" class="needs-validation" >Location</label>
        <input
          name="listing[location]"
          type="text"
          placeholder="Mumbai"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid !</div>
        <br />
      </div>
      <button class="btn btn-dark add-btn">Add</button>
    </form>

</div>
</div>
